*.la
*.lo
*.o
*~
./Makefile
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
acinclude.m4
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.guess
config.h.in
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
rat
rat-kill
rat-media
rat-ui
ratconf.h
stamp-h1
test-driver
tests/*.log
tests/*.trs
tests/Makefile
tests/Makefile.in
tests/native
tests/rtone
tests/test_3d
tests/test_audio_fmt_convert
tests/test_codecs
tests/test_convert
tests/test_pktbuf
tests/test_rdncy
tests/test_repair
tests/test_ts
version.h
